@charset "UTF-8";
/* CSS Document */
html{
  font-size: 62.5%; /*16px x 62.5%=10px*/
}
body{
  color: #333333;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  font-size: 1.8rem;
  font-family: 'Lato','Noto Sans JP', sans-serif,'Noto Sans';

	font-feature-settings: 'palt';
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
img{
	max-width: 100%;
	height: auto;
}
/*--------------------------
*
*  common
*
-------------------------- */
.marker{
  background-image:linear-gradient(180deg,transparent 50%,
  rgb(201,217,218) 50%) ;
}
.section_wrapper,.header_wrapper,.footer_wrapper{
  margin: 0 auto;
  padding: 20px;
  max-width: 1100px;
}
.section_wrapper{
  padding-top: 80px ;
}
/* 横並び */
.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 要素の出しわけ */
.sp-item{
  display: none;
}
.pc-item{
  display: block;
}
/* section title */
.section_title{
  margin: 0 auto;
  color: #333333;
  text-align: center;
}
.section_title .en_title{
  display: block;
  margin: 0 auto;
  padding: 25px 0;
  background-image: url(../img/common/section_title_item.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  font-size: 3.6rem;
  font-family: 'Source Serif Pro', serif;
}
.section_title .ja_title{
  display: block;
  margin-bottom: 80px;
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
}
/* more btn */
.more_btn{
  display: block;
  margin-right: 20px;
  margin-left: auto;
  width: 105px;
  transition: ease-in .3s;
}
.more_btn:hover{
  margin-right: 0;
}
/* content画像 */
.content_img{
  width: calc((100% - 40px) / 2);
}
.content_img img{
  border-radius: 15px;
  box-shadow: 20px 20px 0 1px #94b6b8;
}
.content_text{
  margin-left: 3em;
  width: calc((100% - 40px ) / 2);
}





/*--------------------------
*
*  header
*
-------------------------- */
#header{
  height: 85px;
  background-image: linear-gradient(180deg
, #c85c2e 0, #c85c2e 15px, #94b6b8 15px,#94b6b8 25px, rgba(255,255,255,1) 25px, rgba(255,255,255,1) 85px);
box-shadow: 0 2px 3px rgb(51 51 51 / 35%);
}
.header_nav_list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav_list_item:last-of-type img{
  width: 148px;
}
.header_nav_list_item>a{
  color: #333333;
  font-family: 'Source Serif Pro', serif;
  line-height: 60px;
}
.header_nav_list_item:not(:last-of-type)::before{
  margin-right: 5px;
  color: #333333;
  content: "\f0c4";
  text-align: left;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  opacity: 0;
  transition: all 0.5s;
}
.header_nav_list_item:not(:last-of-type):hover::before{
  opacity: 1;
}


/*--------------------------
*
*  main visual
*
-------------------------- */
/* filter */
#main_visual::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: calc(100vh - 25px);
  background-color: rgba(0,0,0,0.48);
  content: "";
}
/* frame */
#main_visual::after{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 3;
  display: block;
  width: calc(100vw - 80px);
  height: calc(100vh - 120px);
  border: double #fff 7px;
  border-radius: 10px;
  content: "";
  transform: translate3d(-50%,-50%,0);
}

/* border */
.mv::before{
  position: absolute;
  top: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 25px;
  background-image:linear-gradient(180deg,
  #c85c2e 0,
  #c85c2e 15px,
  #94b6b8 15px,
  #94b6b8 25px);
  content: "";
}
.mv::after{
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 25px;
  background-image:linear-gradient(180deg,
  #94b6b8 0,
  #94b6b8 15px,
  #c85c2e 15px,
  #c85c2e 25px);
  content: "";
}
.mv_nav_list_item a{
  color: #ffffff;
  font-size: 3.2rem;
  font-family: 'Source Serif Pro', serif;
}
.mv{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.mv_img{
  width: 100%;
  height: calc(100% - 25px);

  object-fit: cover;
}
.mv_logo{
  position: absolute;
  top:50%;
  left: 50%;
  z-index: 2;
  max-width: 364px;
  transform: translate3d(-50%,-50%,0);
}
/* mv nav */
.mv_nav{
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 100;
  transform: translate3d(-50%,-50%,0);
}
.mv_nav_list_item:not(:last-of-type){
  margin-bottom: 35px;
}
.mv_nav_list_item::before{
  margin-right: 5px;
	padding-top: 35px;
	color: #fff;
	content: "\f0c4";
	text-align: left;
	font-weight: 900;
	font-size: 3.2rem;
	font-family: "Font Awesome 5 Free";
	opacity: 0;
	transition: all 0.2s linear;
}
.mv_nav_list_item:hover::before{
  opacity: 1;
}
.scroll{
  position: absolute;
  bottom:7rem;
  left: 50%;
  z-index: 2;
  width: 40px;
  transform: translateX(-50%);
}


/*--------------------------
*
*  concept
*
-------------------------- */
.lead{
  margin-bottom: 80px;
  text-align: center;
  font-size: 2rem;
  line-height: 3;
}
/*--------------------------
*
*  menu
*
-------------------------- */
.menu{
  width: 100px;
  /* width: 50%; */
  font-family: 'Source Serif Pro', serif;
}
.price{
  margin-left: 60px;
}
.menu_list_item{
  display: flex;
  margin-bottom: 35px;
}



/*--------------------------
*
*  style
*
-------------------------- */


/*--------------------------
*
*  access
*
-------------------------- */
.map_outer{
  border-radius: 15px;
  box-shadow: 20px 20px 0 1px #94b6b8;
  position:relative;
}
.map{
  padding-top:100%;
  position:absolute;
}

/*--------------------------
*
*  recruit
*
-------------------------- */
.recruit_text{
  line-height: 2;
}

/*--------------------------
*
*  news
*
-------------------------- */
#news .section_title .en_title{
  background-image: none;
}
#news .section_title .ja_title{
  margin-bottom: 30px;
}

/*--------------------------
*
*  footer
*
-------------------------- */
